* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
}

/* a {
    text-decoration: none;
} */

/* selector combinado */
/* nav.header-menu {

} */

.container {
    max-width: 1149px;
    margin: 0 auto;
}

header.header {
    background-color: #f9fff2;
    background-image: url('../assets/images/MaskGroup.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

/* selector descendiente */
header.header .header-menu {
    display: flex;
    justify-content: space-between;
}

header.header .header-menu ul {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

header.header .header-menu ul li a {
    text-decoration: none;
}

header.header .header-introduction {
    padding: 117px 0;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header.header .header-introduction p span {
    color: #32BBA4;
    font-weight: bold;
}

header.header .header-introduction .wrapper-video {
    position: relative;
}

header.header .header-introduction .wrapper-video .mockup {
    /* box-shadow: 5px 5px 4px rgba(36, 34, 34, 0.5); */
    filter: drop-shadow(5px 5px 4px rgba(36, 34, 34, 0.5));
}

header.header .header-introduction .wrapper-video .video {
    position: absolute;
    top: 18px;
    left: 10px;
}

.wrapper-cards {
    display: flex;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

section article.card {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 8px;
}

section article.card h2.card-title-plan {
    font-style: normal;
    font-weight: normal;
}

section article.card h3.card-price-plan {
    font-size: 30px;
    margin: 30px 0 15px 0;
}

section article.card p.card-description-plan {
    margin-bottom: 10px;
}

section article.card button {
    background-color: #410FF8;
    color: #fff;
    width:100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    margin-bottom: 40px;
    border-radius: 5px;
}

section article.card ul {
    padding: 0;
}

section article.card li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 13px;
}

section article.card li i {
    color: purple;
    margin-right: 10px;
}

.bx-shadow {
    box-shadow: 0px -1px 29px 7px rgba(65,15,248,.4);
    transition: transform .5s ease;
}

.bx-shadow:hover {
    /* box-shadow: 10px -20px 29px 7px rgba(65,15,248,.4); */
    transform: scale(1.2);
}

.bg-purple {
    background-color: #410FF8;
}


.text-white {
    color: white;
}


/* Selector de hijo */
.menu-principal > ul {
    background-color: pink
}
/* Selector subsecuente */
.aside + article {
    background-color: purple;
    color: white;
}
/* selector de hermano */
.aside ~ article {
    background-color: red;
}


/* Pseudoclases */

/* .aside ~ article:hover {
    background-color: pink;
    border: 2px dashed purple;
} */
/* 


*/

.article-hover {
    margin: 20px;
}

.article-hover:hover p {
    background-color: rgba(26, 255, 0, 0.546);
    color: white;
}

.article-hover:hover + p {
    background-color: purple;
    color: white;
}

/* 
:active
:focus
:checked
:link -> enlaces
:visited

:first-of-type
:last-of-type
:nth-of-type()
*/
/* an+b */
.ul-target li:nth-of-type(2n + 4) {
    background-color: gray;
}

