
header {
    background-color: red;
    border: 2px solid black;
    width: 50%;
}


/* .intro-header nav {
    background-color: pink;
} */

.header.intro-header nav {
    background-color: pink;
}

.intro-header nav h2 {
    color: white;
}

.intro-header {
    border-radius: 10px;
}

.container-post {
    border: 2px dashed blue;
    width: 100px;
    height: 100px;
    margin: 10px 0 10px 0;
}